.genre {
    display: block;
    margin: 10px;
    text-align: center;
}

.genre .image {
    height: 300px;
    width: auto;
}

.genre .title {
    margin: 12px 0 4px;
    border-bottom: none;
    font-size: 1.1em;
    line-height: 1.2;
    max-height: 2.64em;
    color: #fff;
}
