.currently-playing {
  display: flex;
  position: fixed;
  bottom: 0;
  background: #282828;
  height: 6vh;
  width: 100%;
  padding: 16px; }

.currently-playing > .album-image {
  height: 56px; }

.currently-playing > .track-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
  text-align: left; }

.currently-playing > .track-info > .track {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0; }

.currently-playing > .track-info > .artist {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #a0a0a0;
  padding: 0;
  margin: 0; }

.currently-playing > .controls {
  width: 300px;
  justify-content: space-around;
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: 50%;
  color: #a0a0a0;
  font-size: 32px;
  transform: translateX(-50%); }

.currently-playing > .controls .small {
  font-size: 16px; }
